body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.card {
    width: 200px;
    height: 200px;
    border: 3px solid white;
    border-radius: 20px;
    position: relative;
    transition: all 1s linear;
    transform-style: preserve-3d;
}

.inner {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    backface-visibility: hidden;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.card:hover {
    transform: rotateY(180deg);
}

.back {
    transform: rotateY(180deg);
    color: white;
    background-color: blueviolet;
}
.front{
    background-color: rgb(160, 99, 218);
    color: black;
}